@use "sass:math";

@import "css-utilities/variables";
@import "css-utilities/breakpoints";

$grid-baseline-color: hsla(0, 100%, 50%, 0.4);

$grid-column-color: hsla(0, 100%, 50%, 0.2);
$grid-gutter-color: hsla(200, 100%, 50%, 0.2);
$grid-margin-color: hsla(120, 100%, 50%, 0.2);

$grid-label-color: hsla(0, 100%, 50%, 0.6);

.Grid {
  pointer-events: none;
  box-sizing: content-box;
  position: fixed;
  left: 50%;
  top: 0;
  display: flex;
  width: calc(100vw - #{$grid-mobile-margin} * 2);
  max-width: $page-maximum-width;
  height: 100vh;
  border-left: $grid-mobile-margin solid $grid-margin-color;
  border-right: $grid-mobile-margin solid $grid-margin-color;
  transform: translateX(-50%);

  @include tablet-and-up {
    border-left-width: $grid-tablet-margin;
    border-right-width: $grid-tablet-margin;
  }

  .column {
    width: 100%;
    color: $grid-label-color;
    background-color: $grid-column-color;
    background-clip: content-box;
    border-left: math.div($grid-gutter, 2) solid $grid-gutter-color;
    border-right: math.div($grid-gutter, 2) solid $grid-gutter-color;
    font-size: 0.6rem;
    line-height: $grid-baseline * 4;
    text-align: center;

    &:first-child {
      border-left: none;
    }

    &:nth-child(2),
    &:last-child {
      border-right: none;
    }

    &:nth-child(n + 3) {
      display: none;
    }

    @include tablet-and-up {
      &:nth-child(2) {
        border-right: math.div($grid-gutter, 2) solid $grid-gutter-color;
      }

      &:nth-child(n + 3) {
        display: initial;
      }
    }
  }
}

body.grid {
  min-height: 100vh;
  background-image: repeating-linear-gradient(
    180deg,
    transparent 0,
    transparent calc(#{$grid-baseline} - 1px),
    $grid-baseline-color calc(#{$grid-baseline} - 1px),
    $grid-baseline-color $grid-baseline
  );

  h1,
  h2,
  p,
  li {
    background-color: hsla(0, 0%, 0%, 0.1);
  }
}
