@use "sass:math";

@import "css-utilities/variables";

.TextField {
  display: flex;
  margin-bottom: $grid-baseline * 3;

  .label {
    padding-top: math.div($grid-baseline, 2);
    padding-bottom: math.div($grid-baseline, 2);
    width: 8rem;
  }

  .optional {
    position: absolute;
    height: $grid-baseline * 2;
    color: hsl(220, 10%, 75%);
    font-size: 0.6rem;
    line-height: $grid-baseline * 2;
  }

  .control {
    flex-grow: 1;
  }

  .error-message {
    margin-top: $grid-baseline;
    margin-bottom: 0;
    color: hsl(0, 80%, 50%);
    font-size: 0.9rem;
    line-height: $grid-baseline * 3;
  }
}
